# Development (Localhost) Example:
# NEXT_PUBLIC_API_URL=http://localhost:5000
# NEXT_PUBLIC_APP_URL=http://localhost:3000

# Production (Vercel) Example:
# NEXT_PUBLIC_API_URL=https://tubexproject.onrender.com
# NEXT_PUBLIC_APP_URL=https://tubexproject-frontend.vercel.app

NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_APP_URL=

# Google OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
